<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>EJS</title>
  <meta name='viewport" content=' width='device-width, initail-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css'>
  <link rel='stylesheet' href='/style.css' media='screen'>
</head>
<body>
  <div class='container'>
